[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group OPO Common Maintainers
	owner = group user/Tab Fitts (tabp0le)
[access "refs/for/refs/*"]
	read = group OPO Common Maintainers
	read = group user/Tab Fitts (tabp0le)
	push = group OPO Common Maintainers
	push = group user/Tab Fitts (tabp0le)
	label-Code-Review = -2..+2 group OPO Common Maintainers
	label-Code-Review = -2..+2 group user/Tab Fitts (tabp0le)
	label-Verified = -1..+1 group OPO Common Maintainers
	label-Verified = -1..+1 group user/Tab Fitts (tabp0le)
	rebase = group OPO Common Maintainers
	rebase = group user/Tab Fitts (tabp0le)
	removeReviewer = group OPO Common Maintainers
	removeReviewer = group user/Tab Fitts (tabp0le)
	submit = group OPO Common Maintainers
	submit = group user/Tab Fitts (tabp0le)
[access "refs/heads/*"]
	read = group OPO Common Maintainers
	read = group user/Tab Fitts (tabp0le)
	create = group OPO Common Maintainers
	create = group user/Tab Fitts (tabp0le)
	push = group OPO Common Maintainers
	push = +force group user/Tab Fitts (tabp0le)
	pushMerge = group OPO Common Maintainers
	pushMerge = group user/Tab Fitts (tabp0le)
[access "refs/tags/*"]
	push = +force group OPO Common Maintainers
	push = group user/Tab Fitts (tabp0le)
	push = +force group user/Tab Fitts (tabp0le)
[submit]
	action = rebase if necessary
